<link rel="stylesheet" href="/css/styles.css" />

<%- include('../partials/_navbar.ejs') %> <!-- Include Navbar -->

<h1>Edit Shopping List Item</h1>

<form action="/users/<%= user._id %>/shopping-list/<%= food._id %>?_method=PUT" method="POST" class="form-container">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= food.name %>" required />
  </div>

  <div class="form-group">
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" value="<%= food.quantity %>" required />
  </div>

  <button type="submit" class="button">Update</button>
</form>

<form action="/users/<%= user._id %>/shopping-list/<%= food._id %>?_method=DELETE" method="POST">
  <button type="submit" class="button delete-button">Delete</button>
</form>

<%- include('../partials/footer.ejs') %>
