<link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/_navbar.ejs') %> <!-- Include Navbar -->

<h1>Your Shopping List</h1>

<form action="/users/<%= user._id %>/shopping-list/mark-purchased" method="POST">
  <ul class="shopping-list">
    <% if (pantry.length > 0) { %>
      <% pantry.forEach(food => { %>
        <li class="shopping-item">
          <div class="food-details">
            <input type="checkbox" name="purchasedItems" value="<%= food._id %>" <%= food.purchased ? 'checked' : '' %> />
            <span><strong><%= food.name %></strong></span>
            <span>Quantity: <%= food.quantity %></span>
          </div>
          <a href="/users/<%= user._id %>/shopping-list/<%= food._id %>/edit" class="button">Edit</a>
        </li>
      <% }) %>
    <% } else { %>
      <p>Your shopping list is empty.</p>
    <% } %>
  </ul>
  <button type="submit" class="button">Update Purchased Items</button>
</form>

<a href="/users/<%= user._id %>/shopping-list/new" class="button">Add New Item</a>

<%- include('../partials/footer.ejs') %>
