<!-- views/users/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="container">
      <h1>Explore Our Community</h1>
      <ul>
        <% users.forEach(user => { %>
          <li>
            <h2><%= user.username %>'s Recipes</h2>
            <ul>
              <% if (user.recipes.length > 0) { %>
                <% user.recipes.forEach(recipe => { %>
                  <li>
                    <strong><%= recipe.title %></strong>
                    <p><%= recipe.instructions.substring(0, 100) %>... <a href="/users/<%= user._id %>/recipes/<%= recipe._id %>">Read more</a></p>
                  </li>
                <% }) %>
              <% } else { %>
                <p>No recipes shared yet.</p>
              <% } %>
            </ul>
          </li>
        <% }) %>
      </ul>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>

