<!-- views/community.ejs -->
<link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/_navbar') %>

<div class="community-container">
  <h1>Community Recipes</h1>
  <ul class="recipe-list">
    <% recipes.forEach(recipe => { %>
      <li class="recipe-item">
        <!-- Make the recipe title clickable to view the full recipe -->
        <a href="/users/<%= recipe.userId ? recipe.userId : 'unknown' %>/recipes/<%= recipe._id %>" class="recipe-link"><%= recipe.title %></a>
        <!-- Check if userId exists and has a realName property -->
        <p>By: <%= recipe.userId && recipe.userId.realName ? recipe.userId.realName : "Unknown" %></p>
      </li>
    <% }) %>
  </ul>
</div>

<%- include('../partials/_footer') %>
