<%- include('../partials/_navbar.ejs') %>

<h1>Your Recipes</h1>

<ul>
  <% recipes.forEach(recipe => { %>
    <li>
      <strong><%= recipe.title %></strong>
      <form action="/users/<%= user._id %>/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
      <a href="/users/<%= user._id %>/recipes/<%= recipe._id %>/edit">Edit</a>
    </li>
  <% }) %>
</ul>

<a href="/users/<%= user._id %>/recipes/new">Add New Recipe</a>

<%- include('../partials/footer.ejs') %>
